imports:
    - { resource: services_results_client.yaml }

parameters:
    test_authentication_provider_bundle_frontend_token_provider_users:
        'user@example.com': 'password'
    test_authentication_provider_bundle_users_url: 'http://localhost:9080'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    GuzzleHttp\Psr7\HttpFactory:

    Psr\Http\Message\RequestFactoryInterface:
        alias: GuzzleHttp\Psr7\HttpFactory

    Psr\Http\Message\ResponseFactoryInterface:
        alias: GuzzleHttp\Psr7\HttpFactory

    Psr\Http\Message\ServerRequestFactoryInterface:
        alias: GuzzleHttp\Psr7\HttpFactory

    Psr\Http\Message\StreamFactoryInterface:
        alias: GuzzleHttp\Psr7\HttpFactory

    Psr\Http\Message\UploadedFileFactoryInterface:
        alias: GuzzleHttp\Psr7\HttpFactory

    Psr\Http\Message\UriFactoryInterface:
        alias: GuzzleHttp\Psr7\HttpFactory

    Symfony\Bridge\PsrHttpMessage\HttpMessageFactoryInterface:
        class: Symfony\Bridge\PsrHttpMessage\Factory\PsrHttpFactory

    App\Tests\Services\ApplicationClient\ClientFactory:
        public: true

    SmartAssert\SymfonyTestClient\SymfonyClient:
        public: true

    app.tests.integration.http.client:
        public: true
        class: GuzzleHttp\Client
        arguments:
            $config:
                base_uri: "https://localhost/"
                verify: false

    SmartAssert\SymfonyTestClient\HttpClient:
        public: true
        arguments:
            $httpClient: '@app.tests.integration.http.client'

    App\Tests\Services\EventFactory:
        public: true
